@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{

background-color: #f1f6f7;
color : #030000;
font-family: 'Ubuntu', 'Raleway';
font-size: 18px;
}

/* must use serif for headings and sans-serif for paragraphs*/

p{

margin-bottom: 1.8em;
font-family:'Serif' ;

/* this is important for readability */
line-height: 1.5em;

}
h1,h2,h3,h4{
    font-family: 'Sans-Serif';
    
    }

figure{
text-align: center;
}

.container{
max-width: 960px;
margin: 0 auto;
align-items: center;
}
.linkfont{
    font-family:"Roboto"
}
.figcaptions{
    font-family: 'Raleway';
}

/* will need this for screenreader */ 

.sr-only {
border: 0;
clip: rect(0, 0, 0, 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
white-space: nowrap;
width: 1px;

}